alabaster==0.7.13
appdirs==1.4.4
attrs==19.3.0
Automat==0.8.0
Babel==2.14.0
bcrypt==3.1.7
beautifulsoup4==4.12.2
blinker==1.6.3
boto3==1.34.80
botocore==1.34.80
certifi==2019.11.28
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloud-init==23.4.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.1.1
cryptography==2.8
cycler==0.12.1
datadog-api-client==2.23.0
dbus-python==1.2.16
distro==1.4.0
distro-info==0.23+ubuntu1.1
docutils==0.20.1
entrypoints==0.3
Fabric3==1.14.post1
flasgger==0.9.7.1
flask==3.0.3
Flask-Cors==4.0.0
fonttools==4.46.0
frozendict==2.3.10
greenlet==3.0.3
html5lib==1.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
incremental==16.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.4
mistune==3.0.2
more-itertools==4.2.0
multitasking==0.0.11
mysqlclient==2.2.4
netifaces==0.10.4
numpy==1.24.4
oauthlib==3.1.0
packaging==23.2
pandas==2.0.3
pandas-datareader==0.10.0
paramiko==2.12.0
peewee==3.17.0
pep8==1.7.1
pexpect==4.6.0
Pillow==10.1.0
psycopg2-binary==2.9.9
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.8.0
pycparser==2.21
pygments==2.17.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.1.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
pytz==2023.3.post1
PyYAML==5.3.1
requests==2.31.0
requests-unixsocket==0.2.0
s3transfer==0.10.1
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
snowballstemmer==2.2.0
sos==4.5.6
soupsieve==2.5
sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.29
ssh-import-id==5.10
systemd-python==234
Twisted==18.9.0
typing-extensions==4.9.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
wadllib==1.3.3
webencodings==0.5.1
werkzeug==3.0.2
yfinance==0.2.33
zipp==3.17.0
zope.interface==4.7.1
